<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>facetracking</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta charset="utf-8">
		<style>
			body {
				background-color: #f0f0f0;
				margin-left: 10%;
				margin-right: 10%;
				margin-top: 5%;
				width: 40%;
				overflow: hidden;
				font-family: "Helvetica", Arial, Serif;
				position: relative;
			}
		</style>
		
	</head>
	<body>
		
		
		<canvas id="compare" width="320" height="240" style="display:none"></canvas>
		<video id="vid" autoplay loop width="320" height="240"></video>
		<canvas id="overlay" width="320" height="240"></canvas>
		<canvas id="debug" width="320" height="240"></canvas>
		<div id="ienum"></div>
		<div id="realtime"></div>
		<p id="gUMMessage"></p>
		<p>Status : <span id="headtrackerMessage"></span></p>
		<p><input id="reinit" type="button" value="reinitiate facedetection"></input>
		<br/><br/>
		<input id="showProb" type="checkbox"  value="asdfasd"></input>Show probability-map</p>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/headtrackr.js"></script>
		<script type="text/javascript" src="/js/startTrack.js"></script>

		
	</body>
</html>
